@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
/* body {
    font-family: 'Press Start 2P', cursive;
    background: linear-gradient(to bottom, #1C1C1C, #656765);
    image-rendering: pixelated;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
} */

body {
    @apply bg-white text-gray-900;
}

.dark body {
    @apply bg-gray-900 text-white;
}